@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Imperial+Script&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
     box-sizing: border-box;
     margin:0;
}

h1{
    width: 291px;
    height: 79px;
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    margin: 95px 1277px 93px 150px;
}

.container {
    max-width: 1216px;
    margin: auto;
}

/* Container pentru evenimente */
.event-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 43px;
    row-gap: 132px;
    margin: 0 auto;
}

/* Card individual */
.event-card {
  background-color: #c0d6a3;
  border-radius: 10px;
  padding:20px;
}

.titlu{
    text-align: center;
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-size: 40px;
}

.event-card img{
    width: 349px;
    height: 189px;
    margin-top: 20px;
    border-radius: 10px;
}

.paragraf{
    margin-top: 20px;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.location{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 18px;
}


.data{
    text-align: center;
    color: #FFFFFF;
    font-family:'Nunito' ;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.event-card hr{
    width: 350px;
    align-items: center;
    color: #FFFFFF;
    border-color: #FFFFFF;
    margin-top: 20px;
}

.event-card button{
    font-family:'Nunito' ;
    font-style: bold;
    background-color: #D4E2C4;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 82px;
    margin: 20px 58px auto 58px;
    border: none;
}


